<button class="api"><%=link_to "View JSON","api/v1/projects" %></button>
<div class="project-card-cont">
<% @projects.each do |project|%>
    <div class="project-link">
      <%=link_to project_path(project) do %>
       
        <h2><%=project.name[0..20]%></h2>
        <%end%>
        <%=link_to edit_project_path(project) do %>
        <div class="span">Edit</div>
        <%end%>
     </div>
<%end%>
</div>