/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
  margin: 0;
}
html {
    font-family: 'Roboto', sans-serif;
    font-size: calc(0.75rem + 0.4vw);
}
 .main{
        display: flex;
        background-color: white;
 }

 .content {
    flex:5;
    background: #142637;
    overflow: scroll;
    height: 100vh;
 }

 .side-nav{
    flex:1;
    background: #142637d6;
    margin: 0;
    height: 100vh;
 }

 nav h4 {
    text-align: center;
    padding: 1rem;
    margin: 0;
    color: #F9D640;
    margin-left: 10px;
 }
 ul li{
    list-style: none;
    margin-bottom: 1rem;
    height: fit-content;
   color:#5badfa;
   width: 90%;
   background-color: #142637;
   padding: 1rem;
 }

 ul a {
    text-decoration: none;
    color:#5badfa;
 }

 ul img {
    border-radius: 50%;
    margin-bottom: 1rem;
 }


  .active {
   color: #F9D640;
   position: relative;
 } 

 body {
    margin: 0;
 }

 .r {
    background-color: aqua;
 }

 @media screen and (max-width: 700px) {
    .side-nav{
       display: none;
    }
    
    .tech-a , .a, .new-cont {
       width: 100%;
    }

    .login {
        width: 70%;
    }
    
}

@media screen and (max-width: 400px) {
    .project-show-cont{
        display: block;
    }
    
}
    
