.login {

    width: 30%;
    margin: 7rem auto;
    background:  #4e4d539d;
        border-radius: 10px;
}

.login h2 {
  text-align: center;
}

.login2 {
  width: 80%;
  margin: auto;
}

.login-f {
    height: 30px;
    background: #142637;
    border-radius: 5px;
    color: #8e949a;;
}

.login-s {
    height: 30px;
    background: #5badfa;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
    color: rgba(0, 0, 0, 0.826);
}
